.bk-info {
  background: #f4f4f4;
  border: 1px solid rgb(23, 25, 48);
  border-top: none;
  margin: auto;
  padding: 0.5rem;
  display: none;
  flex-direction: column;
  align-items: center;
}

.bk-info--open {
  display: flex;
}

.bk-info__header {
  border: 1px solid rgb(23, 25, 48);
  border-top: none;
  display: flex;
  font-size: 0.7rem;
  padding: 0.2rem 1rem;
  background: rgb(106, 111, 177);
  color: white;
  transition: .3s ease;
}

.bk-info__header--selected {
  background: #8b90ce;
  border-bottom: none;
}

.bk-info__header:hover {
  background: #8b90ce;
}

.bk-info__author {
  width: 35%;
  margin: auto;
}

.bk-info__title {
  width: 65%;
  margin: auto;
}

.bk-info__cover-rating {
  margin: 0rem auto;
  padding: 1rem;
  text-align: center;
}

.bk-info__cover {
  max-width: 150px;
  padding: 1rem;
}

.bk-info__rating {
  color: #51a1a1;
  padding: 0.5rem;
}

.bk-info__copy {
  margin: 0rem auto;
  padding: 1rem;
  align-items: center;
  text-align: center;
}

.bk-info__copy--bold {
  font-weight: 700;
}

.bk-info__ed-del {
  margin: 1rem;
  padding: 1rem;
} 

@media only screen and (min-width: 600px) {
  .bk-info {
    flex-direction: row;
  }
  .bk-info__header {
    padding: 0.2rem 2rem;
  }
  .bk-info__copy p {
    text-align: left;
  }
  .bk-info__author {
    width: 25%;
  }
  .bk-info__title {
    width: 75%;
  }
}