.bk-table {
  border: 1px solid rgb(33, 34, 80);
  max-width: 1000px;
  margin: 4rem auto;
  width: 90%;
  font-family: "Raleway", sans-serif;
  text-align: left;
  background: #f4f4f4;
}

.bk-table__header {
  display: flex;
  padding: 0.2rem 2rem;
  background: rgb(56, 57, 114);
  color: white;
}

.bk-table__author {
  width: 35%;
}

.bk-table__title {
  width: 65%;
}