
.bk-title__row {
  border-top: 1px solid rgb(23, 25, 48);
  display: flex;
  font-size: 0.7rem;
  padding: 0.2rem 2rem;
  background: rgb(106, 111, 177);
  color: white;
  transition: .3s ease;
}

.bk-title__row--selected {
  background: #b6b9ec;
}

.bk-title__row:hover {
  background: #8b90ce;
}

.bk-title__row--selected:hover {
  background: #c6c9f5;
}

.bk-title__author {
  width: 35%;
}

.bk-title__title {
  width: 65%;
}