.bk-table {
  max-width: 1000px;
  margin: 0rem auto;
  position: relative;
  top: 2rem;
  height: 70%;
  overflow: scroll;
  width: 90%;
  font-family: "Raleway", sans-serif;
  text-align: left;
  background-color: transparent;
}

.bk-table__header {
  display: flex;
  padding: 0.3rem 2rem;
  border: 1px solid rgb(33, 34, 80);
  border-bottom: none;
  background: rgb(56, 57, 114);
  color: white;
}

.bk-table__author {
  width: 35%;
}

.bk-table__title {
  width: 65%;
}